<nav class="navbar navbar-inverse">
  <ngx-loading-bar></ngx-loading-bar>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{website}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li [ngClass]="{'active': selectedBar == item}" (click)="barClick(item)" *ngFor="let item of getNavbarItems()">
        <a [routerLink]="item">{{item}}</a>
      </li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Here" name="search" [(ngModel)]="searchText" required [ngbTypeahead]="search1">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
          <!--<div *ngIf="!user.loggedInUser">
                <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
            </div>
            <div *ngIf="user.loggedInUser">
                <span>{{user.loggedInUser.name}}</span>
            </div>-->
        </div>
      </div>
    </form>
  </div>
</nav>