
<nav class="navbar navbar-inverse">
        <ngx-loading-bar></ngx-loading-bar>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{website}}</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li [ngClass]="{'active': selectedBar == item}" (click)="barClick(item)" *ngFor="let item of getNavbarItems()">
                <a [routerLink]="item">{{item}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <input [(ngModel)]="searchText" type="text" [ngbTypeahead]="search1">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-search" (click)="startLoading()"> Search </span>
                </button>
            </li>
        </ul>
    </div>
</nav>
