input[type="text"]
   {
      height: 38px;
      font-size: 15pt;
   }

   input[type="text"]:invalid + input[type="reset"]{
     display: none;
   } 

   input[type="reset"]
   {
      //background-image: url( http://png-5.findicons.com/files/icons/1150/tango/32/edit_clear.png );
      //background-image: url("../../../assets/images/clearIcon.png");
      background-position: center center;
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      top: 0px;
      left: 0px;
   }
