<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{website}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="gallery">Gallery</a>
            </li>
            <li>
                <a routerLink="contactUs">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>